{% extends "base.html" %}

{% block title %} Sign Up {% endblock %}

{% block content %}
<h3 align="center"> SignUp</h3>
<form method="POST">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email..." required>
    </div>
    <div class="form-group">
        <label for="username">User Name</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
    </div>
    <div class="form-group">
        <label for="confirm-password">Email</label>
        <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="confirm-password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}